.Logo{
    height: 100%;
    display: absolute;
    top: 0;
    left: 50%;
    width: 50px;
}

.Logo img{
    height: 80px;
    width: 80px;
    background-color: white;
    padding:7px;
    border-radius: 50%;
    position: relative;
    top:-24px;
    border: 2px solid #e06416;
    left: 10px;
}

@media(max-width:600px){
    .Logo img{
        height: 70px;
        width: 70px;
        background-color: white;
        padding:7px;
        border-radius: 50%;
        position: relative;
        top:-20px;
        border: 2px solid #e06416;
        left: 10px;
    }
}
